# Ignore files with long paths that cannot be committed on Windows
Primer cuatrimestre/Asesoramiento psicopedagogico/Tareas/Tarea 1/Tarea_1_Enfoques_Teoricos/_output/tarea1_files/libs/bootstrap/bootstrap-21facf2f7c68a9a79fddca65ba6c1d83.min.css
Primer cuatrimestre/Asesoramiento psicopedagogico/Tareas/Tarea 1/Tarea_1_Enfoques_Teoricos/_output/tarea1_files/
Primer cuatrimestre/Asesoramiento psicopedagogico/Tareas/Tarea 1/Tarea_1_Enfoques_Teoricos/_output/tarea1.html
Primer cuatrimestre/Asesoramiento psicopedagogico/Tareas/Tarea 1/Tarea_1_Enfoques_Teoricos/tarea1.tex
Primer cuatrimestre/Asesoramiento psicopedagogico/Tareas/Tarea 1/Tarea_1_Enfoques_Teoricos/tarea1_VERSION_CONCISA.tex
Primer cuatrimestre/Asesoramiento psicopedagogico/Tareas/Tarea 2/Tarea_2_Comentario_Critico/tarea2.tex
Anuales/Practicum/Actividades/Actividad 3/actividad3_files/
Anuales/Practicum/Actividades/Actividad 4/actividad4_files/

# Ignore Mac OS system files
.DS_Store
__MACOSX/
Thumbs.db
desktop.ini

# Ignore log and temp files
*.log
*.tmp

# Ignore Quarto and LaTeX build outputs
_output/
*.bbl
*.blg
*.aux
*.out
*.toc
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.fls
*.tex

# Ignore Office temp files
~$*

# Ignore files not useful for Mac users
render_tareas_calendario.ps1